@import '../../styles/index.scss';

.userlist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  position: relative;
  @include respond(tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @include respond(mobile) {
    grid-template-columns: 1fr;
  }
}
